<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="A Brain Tumor Detection and Classificaton Model"
            name="description">
        <meta content="MRI, Brain Tumor, FakeFlipper, Brain Tumor
            Classification, Brain Tumor Segmentation" name="keywords">

        <!-- Favicons -->
        <link href="{{ url_for('static',filename='custom/t-icon.png') }}"
            rel="icon">
        <link href="{{ url_for('static',filename='custom/t-icon.png') }}"
            rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet">

        <!-- Vendor CSS Files -->
        <link href="{{
            url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css')
            }}" rel="stylesheet">
        <link href="{{
            url_for('static',filename='vendor/bootstrap-icons/bootstrap-icons.css')
            }}" rel="stylesheet">
        <link href="{{ url_for('static',filename='vendor/aos/aos.css') }}"
            rel="stylesheet">
        <link href="{{
            url_for('static',filename='vendor/remixicon/remixicon.css') }}"
            rel="stylesheet">
        <link href="{{
            url_for('static',filename='vendor/swiper/swiper-bundle.min.css') }}"
            rel="stylesheet">
        <link href="{{
            url_for('static',filename='vendor/glightbox/css/glightbox.min.css')
            }}" rel="stylesheet">

        <!-- Main CSS File -->
        <link href="{{ url_for('static',filename='css/style.css') }}"
            rel="stylesheet"> {% block head %} {% endblock %}

            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">   


    </head>

    <body>

        <!-- < ======= Header =======> -->
         <header id="header" class="header fixed-top" style="background-color: rgba(0, 0, 0, 0.438);">
            
             <div class="container-fluid container-xl d-flex align-items-center
                justify-content-between">
                

                 <a href="#" class="logo d-flex align-items-center">
            
                    <img src="{{ url_for('static',filename='custom/logo.png')
                        }}" alt="" height="35">
                    <span style="color: rgb(255, 255, 255);">Healthy-Bot</span>
                </a> 
             

                <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover {% if hide_login_link %}hide-login{% endif %}" href="login" style="color: rgb(255, 255, 255); text-decoration: none !important;">
                    Login
                </a>
                
                
                
               
                        <!-- <a  href="login" style="color: rgb(255, 255, 255);"><u>Login</u></a></li>  -->
                
                    
                    <i class="bi bi-list mobile-nav-toggle"></i>
           

         </div> 
        </header>
        <!-- End Header -->

        <!-- ======= Hero Section ======= -->
        {% block hero %} {% endblock %}
        <!-- End Hero -->

        <main id="main">
            {% block main %} {% endblock %}
        </main>
        <!-- End #main -->

        <a href="#" class="back-to-top d-flex align-items-center
            justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
        <!-- Vendor JS Files -->
        <script src="{{
            url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.js')
            }}"></script>
        <script src="{{ url_for('static',filename='vendor/aos/aos.js') }}"></script>
        <script src="{{
            url_for('static',filename='vendor/swiper/swiper-bundle.min.js') }}"></script>
        <script src="{{
            url_for('static',filename='vendor/purecounter/purecounter.js') }}"></script>
        <script src="{{
            url_for('static',filename='vendor/isotope-layout/isotope.pkgd.min.js')
            }}"></script>
        <script src="{{
            url_for('static',filename='vendor/glightbox/js/glightbox.min.js')
            }}"></script>

        <!-- Main JS File -->
        <script src="{{ url_for('static',filename='js/main.js') }}"></script>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      </body>
    

</html>